<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PROYECTO_IOT">
        <activity android:name=".admin.AdminHomeActivity" />
        <activity android:name=".admin.AdminResumenActivity" />
        <activity android:name=".admin.AdminPerfilActivity" />
        <activity android:name=".admin.AdminEditarPerfilActivity" />
        <activity android:name=".admin.AdminProyectosActivity" />
        <activity android:name=".admin.AdminDetalleProyectoActivity" />
        <activity android:name=".admin.AdminCrearProyectoActivity" />
        <activity android:name=".admin.AdminEditarProyectoActivity" />
        <activity android:name=".admin.AdminAsesoresActivity" />
        <activity android:name=".admin.AdminDetalleAsesorActivity" />
        <activity android:name=".admin.AdminSolicitudAsesoresActivity" />
        <activity android:name=".admin.AdminVerSolicitudActivity" />
        <activity android:name=".admin.AdminCrearAsesorActivity" />
        <activity android:name=".admin.AdminAsignarProyectoAsesorActivity" />
        <activity android:name=".admin.AdminReportesActivity" />
        <activity android:name=".admin.AdminNotificacionesActivity" />
        <activity android:name=".admin.AdminDetalleSeparacionActivity" />
        <activity android:name=".admin.AdminDetallePagoActivity" />
        <activity android:name=".admin.AdminResenasAsesorActivity" />
        <activity android:name=".admin.AdminEditarEmpresaActivity" />
        <activity android:name=".admin.AdminMenuActivity" />
        <activity android:name=".asesor.AsesorHomeActivity" />
        <activity android:name=".asesor.AsesorMiAgendaActivity" />
        <activity android:name=".asesor.AsesorDetalleCitaActivity" />
        <activity android:name=".asesor.AsesorReprogramarCitaActivity" />
        <activity android:name=".asesor.AsesorHistorialCitasActivity" />
        <activity android:name=".asesor.AsesorSeparacionesActivity" />
        <activity android:name=".asesor.AsesorRegistrarSeparacionActivity" />
        <activity android:name=".asesor.AsesorSolicitudSeparacionActivity" />
        <activity android:name=".asesor.AsesorPagoAprobadoActivity" />
        <activity android:name=".asesor.AsesorChatsActivity" />
        <activity android:name=".asesor.AsesorChatIndividualActivity" />
        <activity android:name=".asesor.AsesorPerfilActivity" />
        <activity android:name=".asesor.AsesorEditarPerfilActivity" />
        <activity android:name=".usuario.UsuarioPerfilActivity" />
        <activity android:name=".usuario.UsuarioChatsActivity" />
        <activity android:name=".usuario.UsuarioActividadActivity" />
        <activity android:name=".usuario.UsuarioChatDetalleActivity" />
        <activity android:name=".usuario.UsuarioNotificacionesActivity" />
        <activity android:name=".usuario.UsuarioReservaPagoActivity" />
        <activity android:name=".usuario.UsuarioPropiedadDetalleActivity" />
        <activity android:name=".usuario.UsuarioHomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".superadmin.SuperadminLogsActivity" />
        <activity android:name=".superadmin.SuperadminReportesUsuariosActivity" />
        <activity android:name=".superadmin.SuperadminReportesGlobalesActivity" />
        <activity android:name=".superadmin.SuperadminRegistrarAdministradorActivity" />
        <activity android:name=".superadmin.SuperadminAprobacionAsesoresActivity" />
        <activity android:name=".superadmin.SuperadminGestionUsuariosActivity" />
        <activity android:name=".superadmin.SuperadminResumenActivity" />
        <activity android:name=".superadmin.SuperadminMenuActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
